
.contact_me, .about_me, .home, .skills{
    
    display: inline-block;
    margin-left: 60px;
    margin-bottom: 100px;
    font-size: 30px;
    
}

.menu {
    margin-left: 550px;
    margin-top: 10px;
    


}
.home {
    display: inline;
    justify-content: center;
    
}

.name {
    font-size: 100px;
    margin-left: 400px;

}

.hello {
    margin-left: 310px;
}

.student {
    margin-left: 800px;
}

body {
    height: 1536px;
}

.home_to_me {
    margin-top: 299px;
    margin-bottom: 50px;
} 

.profile {
    width: 400px;
    height: auto;
    margin-left: 30px;  
    display: inline-block; 
   
}

.Me_about {
    
    flex-direction: row;
    align-sel;

}

.meh {
    display: inline-block;
    font-size: 50px;
    margin-left: 300px;
    margin-top: 200px
    
    
}
